
.body {
    background-color: #CBB18C;  
    font-family: 'Inter', sans-serif;
}
.park-gallery {
    background-color: #CBB18C;
}

.filters {
    display: flex;
    margin-bottom: 16px;
    top: 0;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
}

header{
    display: flex;
    background-color: #825632; 
    width: 100%;
    height: 100px;
    justify-content: center;
}

input[type="text"] {
    padding: 8px;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
}

select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    height: 50px;
    margin-top: 23px;
    margin-right: 40px;
    transition: all 0.3s ease;
    color: white;
    background-color: #CBB18C;
    margin-left: 8px;

}

select:hover {
    border: none;
    background-color: #9c7f57;
    color: #000; /* Make text darker on hover */
}

select:focus {
    box-shadow: 0 0 10px rgba(130, 86, 50, 0.5); /* Glow effect on focus */
    border-color: #825632; /* Emphasize border */
}


.parks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 16px;
	grid-auto-rows: 230px;
    background-color: #CBB18C;
    justify-content: center;
    margin-bottom: 30px;
}

.park-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
	z-index:1
}

.park-card:hover {
    transform: scale(1.05);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.park-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
	background-color:rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
	padding-top: 100%;
    z-index: 1;
}

.collected-park-check {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
	height: 100%;
	width: 100%;
	padding-top: 50%;
    z-index: 3;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9c7f57;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #825632;
}

.park-number {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
	background-color:rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
	padding-top: 100%;
    z-index: 1;
}

/* Button styles */
.user_profile_button {
    background-color: #CBB18C;
    color: white;
    border: none;
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;  
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;  
    height: 50px;  
    margin-top: 20px;
    margin-left: 20px;
    
  }
  
  .user_profile_button:hover {
    background-color: #9c7f57;
  }
  
  