.body{
    font-family: 'Inter', sans-serif;
}

.user-name{
    color: white;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 30px;
}

.park-count{
    color: white;
    font-size: 25px;
    margin-top: 35px; 
    margin-right: 20px;
    margin-left: 50px;
}

.user-info{
    display: flex;
    margin-bottom: 20px;
    background-color: #338AA6;
    height: 100px;
    justify-content: center;
}

.user-profile {
    background-color: #AEDAF0;
}

.gallery_button{
    width: 10%;
    margin-left: 20px;
    height: 50px;
    margin-top: 25px;
    background-color: #78c7ee; 
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.gallery_button:hover {
    background-color: #6fb3d5; 
    transform: scale(1.05); 
}

.signout_button {
    width: 10%;
    margin-left: 20px;
    height: 50px;
    margin-top: 25px;
    background-color: #78c7ee; 
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signout_button:hover {
    background-color: #6fb3d5; 
    transform: scale(1.05); 
}

.parks-grid-user {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 16px;
	grid-auto-rows: 230px;
    background-color: #AEDAF0;
    justify-content: center;
    margin-bottom: 30px;
}

.park-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
}

.park-card:hover {
    transform: scale(1.05);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.park-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
	background-color:rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
	padding-top: 100%;
    z-index: 1;
}

.collected-park-check {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
	height: 100%;
	width: 100%;
	padding-top: 50%;
    z-index: 3;
}

.park-number {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
	background-color:rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
	padding-top: 100%;
    z-index: 1;
}